Repository DSCKGEC/learn-machine-learn, pull requests merged in 2022-07, with the labels that each got.

#19 implementation of polynomial linear regression
  Regression/L&T_Stock_Price_prediction.ipynb
Labels: KSoC'22, Easy, Regression

#23 Implemented Decision Tree Regression with the required preprocessed e…
  Regression/L&T_Stock_Price_prediction.ipynb
Labels: KSoC'22, Medium, Regression

#22 Support vector regression
  Regression/L&T_Stock_Price_prediction.ipynb
Labels: KSoC'22, Easy, Regression

#24 Updated Cancer Prediction
  Classification/Cancer_prediction.ipynb
Labels: enhancement, KSoC'22, Medium, Classification

#30 Issue #8 Added a function to visualize the confusion matrix
  Classification/Cancer_prediction.ipynb
Labels: enhancement, KSoC'22, Medium, Classification

#32 Logistic Regression Implementation
  Classification/Cancer_prediction.ipynb
Labels: enhancement, KSoC'22, Easy, Classification

#34 Added a function to visualize confusion matrix
  Classification/Cancer_prediction.ipynb
Labels: KSoC'22, Medium, Classification

#36 Added KNN classifier
  Classification/Cancer_prediction.ipynb
Labels: KSoC'22, Easy, Classification

#40 Improved Naive Bayes Classifier
  Classification/Cancer_prediction.ipynb
Labels: KSoC'22, Medium, Classification
